.welcome {
  background: #f3f5f8;
  > .welcome-warp {
    @apply box-border;

    width: 840px;
    height: 100vh;
    font-family: Roboto;
    overflow: hidden;
    background: #f4f4f4;
    margin: 0 auto;
    border: 1px solid #dadada;
  }
}

.header {
  @apply w-full;

  > .header-wrap {
    @apply flex items-center justify-between box-border;

    width: 800px;
    margin: 0 auto;
    padding: 43px 52px 15px 52px;
    > .logo-box {
      @apply flex items-center;

      > .logo-icon {
        @apply flex items-center justify-center;

        width: 42px;
        height: 42px;
        background: #333333;
        border-radius: 50px;
        color: #fff;
      }
      > span {
        margin-left: 17px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #222222;
      }
    }
    > .language-box {
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      > span {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.container {
  @apply flex flex-col align-middle pt-12;
  @apply w-full relative text-center;

  width: 800px;
  height: calc(100% - 214px);
  margin: 0 auto;
  font-weight: bold;
  box-sizing: border-box;
  > h1 {
    font-size: 72px;
    color: #222222;
    line-height: 84px;
    margin: 0 0 49px 0;
  }
  > h5 {
    font-size: 24px;
    color: #333333;
    line-height: 28px;
    margin: 0 0 9px 0;
  }
  > .container-middle {
    @apply flex;

    width: 640px;
    margin: 0 auto;
    margin-top: 22px;
    > .left-box {
      @apply w-full relative;

      padding-top: 65px;
      > .left-box-title {
        @apply absolute;

        top: 0;
        left: 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #333333;
      }
      > .link-list {
        > .link-item {
          @apply flex items-center;

          color: #222222;
          margin-bottom: 35px;
          > a {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-decoration: none;
            color: #222222;
            margin-left: 13px;
          }
        }
      }
    }
    > .right-box {
      color: #222;
      width: 213px;
      height: 213px;
      margin-top: 35px;
    }
  }
  > .container-bottom {
    @apply flex items-center justify-center;
    @apply w-full absolute;

    bottom: 35px;
    height: 21px;
    color: #999;
    > .icon {
      color: #222;
      padding: 0 6px;
    }
  }
}

.footer {
  @apply relative;
  z-index: 2;
  border-top: 1px solid #dadada;
  background: #f4f4f4;
  > .footer-wrap {
    @apply w-full flex items-center justify-between box-border;
    height: 114px;
    margin: 0 auto;
    padding: 0 50px 0 45px;
    > .icon-box {
      @apply flex items-center;
      > .icon-item {
        color: #222;
        margin-right: 16px;
      }
    }
    > .text-box {
      @apply text-right;

      width: 460px;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
    }
  }
}
